body{
    background-color: black;
    color: lime;
    overflow-x: hidden;
}
h1{
    text-align: center;
}
main{
    height: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
}
table{
    width: auto;
    margin-top: 50px;
    border: 1px solid lime;
}
td{
    text-align: center;
    border: 1px solid lime;
    color: #ffffff;
    font-weight: bolder;
    font-size: 15px;
}
.container-dias{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    color: black;
    cursor: pointer;

}
#restablecer{
    position: fixed;
    top: 5px;
    left: 0;
    width: auto;
   padding: 10px;
    background-color: red;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid red;
   
}
